:root {
  /* colors*/
  --main-dark-color: #2b4074;
  --main-light-color: #f9f6e5;
  --white-color: #ffffff;
  --gray-font-color: #797979;
  --table-border: #7ebf84;
  --almost-black: #4a4a4a;
  --light-yellow: #f9f6e5;
  /*fonts*/
  --font-family-Dosis: "Dosis", sans-serif;
  --font-family-Roboto: "Roboto", sans-serif;
  --font-family-Roboto-Condensed: "Roboto Condensed", sans-serif;
}
* {
  box-sizing: border-box;
}
button {
  box-sizing: content-box;
}
.container {
  position: relative;
  width: 980px;
  margin: 0 auto;
}
header {
  background-color: var(--main-dark-color);
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.logo {
  box-sizing: content-box;
  width: 100px;
  height: 65px;
  padding: 17px 0 17px 61px;
}
.burger {
  margin: 30px 150px 30px 0;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}
.container {
  width: 960px;
  margin: 0 auto;
}

/*top banner section 2*/
.top-banner {
  position: relative;
  height: 668px;
  background: url("../images/bg-img.jpg") no-repeat 100%;
}
.top-banner::after {
  content: "";
  display: block;
  width: 100vw;
  height: 668px;
  background-image: url("../images/rectangle.png");
  top: 0;
  position: absolute;
}
/* .top-banner::before,
.top-banner::after,
footer::before,
.projects::before,
.news::before,
.contact::before {
  content: "";
  display: block;
  width: 100vw;
  height: 300px;
  height: 668px;
  position: absolute;
  left: calc((-100vw + 960px) / 2);
} */
/* .top-banner::before {
  background-image: url("../images/bg-img.jpg");
} */
/* .top-banner::after {
  background-image: url("../images/rectangle.png");
  top: 0;
} */
.top-banner-intro {
  z-index: 1;
  position: relative;
  overflow: hidden;
  color: var(--white-color);
  font-family: var(--font-family-Roboto-Condensed);
  padding: 101px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 96px;
  font-weight: 400;
  text-transform: uppercase;
  width: 513px;
}
.top-banner-intro p {
  font-size: 24px;
  font-weight: 400;
  width: 886px;
  padding: 8px 0 18px 0;
}
.top-banner-intro p,
.top-banner-intro button,
h1 {
  text-align: center;
  margin: auto;
}
button {
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
.top-banner-intro button,
.team-btn {
  font-family: var(--font-family-Roboto);
  background: var(--main-dark-color);
  color: var(--main-light-color);
  width: 200px;
  height: 50px;
  font-size: 18px;
  text-transform: uppercase;
}
.mobile {
  display: none;
}
button:active {
  outline: none;
  border: none;
}
.carousel {
  position: absolute;
  right: calc((-100vw + 960px) / 2);
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 264px;
}
.carousel-btn {
  width: 70px;
  height: 70px;
  float: right;
  z-index: 1;
  font-weight: 800;
}
.prev {
  background: var(--main-light-color);
  color: var(--gray-font-color);
}
.next {
  background: var(--main-dark-color);
  color: var(--white-color);
}
footer {
  height: 192px;
}
footer {
  background-color: var(--main-dark-color);
  height: 192px;
}
.footer-section {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 57px 0;
  justify-content: space-between;
}
.footer-header {
  font-family: var(--font-family-Roboto);
  font-size: 24px;
  color: var(--white-color);
}
.footer-content {
  font-family: var(--font-family-Dosis);
  font-size: 16px;
  color: var(--white-color);
  margin-top: 10px;
}
.footer-section button {
  padding: 0;
  background: var(--main-light-color);
  font-size: 18px;
  font-family: var(--font-family-Roboto);
  color: var(--main-dark-color);
  width: 200px;
  height: 50px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer-info {
  width: 60%;
}
.service {
  box-sizing: border-box;
  height: 546px;
  display: flex;
  padding: 20px;
}
.feature-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 922px;
}
.one-box {
  width: 200px;
  padding-top: 169px;
}
.service-info {
  display: flex;
  flex-direction: column;
  padding: 90px 0 0 62px;
  width: 400px;
}
.service-header {
  font-size: 48px;
  color: var(--main-dark-color);
  font-family: var(--font-family-Roboto-Condensed);
}

.feature-header,
.one-box:hover > .feature-btn {
  margin: 0px;
  font-family: var(--font-family-Roboto-Condensed);
  color: var(--almost-black);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.feature-info,
.feature-btn {
  visibility: hidden;
}
.box-1 {
  background: url(../images/icon-1.png) no-repeat 50% 40%;
}
.box-2 {
  background: url(../images/icon-2.png) no-repeat 50% 40%;
}
.box-3 {
  background: url(../images/icon-3.png) no-repeat 50% 40%;
}
.box-4 {
  background: url(../images/icon-4.png) no-repeat 50% 40%;
}
.box-5 {
  background: url(../images/icon-5.png) no-repeat 50% 40%;
}
.box-6 {
  background: url(../images/icon-6.png) no-repeat 50% 40%;
}
.box-7 {
  background: url(../images/icon-7.png) no-repeat 50% 40%;
}
.box-8 {
  background: url(../images/icon-8.png) no-repeat 50% 40%;
}
.service-sub-header {
  font-family: var(--font-family-Roboto);
  font-weight: 400;
  font-size: 24px;
  margin-top: 64.6px;
}
.blue {
  margin: 30.7px 0 0 0;
  width: 100px;
  height: 8px;
  background-color: var(--main-dark-color);
}
.service-p,
.team-p {
  margin-top: 34.9px;
  font-family: var(--font-family-Roboto);
  font-weight: 400;
  color: var(--gray-font-color);
  font-size: 18px;
}
.projects {
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
  height: 600px;
}

.content-header {
  font-family: var(--font-family-Roboto-Condensed);
  color: var(--white-color);
  font-size: 48px;
  text-align: center;
  padding-top: 80px;
}
.proj-gallery {
  display: flex;
}
.proj-1 {
  background: url(../images/portfolio-1.png) no-repeat 50% 40%;
}
.proj-2 {
  background: url(../images/portfolio-2.png) no-repeat 50% 40%;
}
.proj-3 {
  background: url(../images/portfolio-3.png) no-repeat 50% 40%;
}
.proj-4 {
  background: url(../images/portfolio-4.png) no-repeat 50% 40%;
}
.proj-pic {
  width: 220px;
  height: 209px;
  margin: 10px;
  border-radius: 4px;
  position: relative;
}
.proj-pic:hover > .proj-info {
  position: absolute;
  background-color: var(--light-yellow);
  opacity: 0.8;
  border-radius: 4px;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  display: flex;
  position: relative;
}
.info-icon,
.search-icon {
  visibility: hidden;
}
.proj-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.proj-pic:hover > .proj-info .info-icon,
.proj-pic:hover > .proj-info .search-icon {
  padding: 5px;
  visibility: visible;
  width: 35px;
  height: 35px;
}

.proj-pic:hover > .proj-info .info-icon {
  background: url(../images/info-icon.png) no-repeat 50% 40%;
}
.proj-pic:hover > .proj-info .search-icon {
  background: url(../images/search-icon.png) no-repeat 50% 40%;
}
.white {
  margin-top: 24px;
  width: 100px;
  height: 8px;
  background-color: var(--white-color);
}
.proj-name {
  margin-top: 23px;
  text-align: center;
  font-family: var(--font-family-Roboto-Condensed);
  font-weight: 700;
  font-size: 16px;
  color: var(--main-dark-color);
}
section {
  height: 100%;
}
.team {
  margin-top: 50px;
  display: flex;
}
.team-img {
  background: url(../images/team.png) no-repeat 50% 40%;
  width: 470px;
  height: 430px;
}
.team-info {
  width: 500px;
  margin-left: 60px;
}
.team-header,
.news-header {
  font-family: var(--font-family-Roboto-Condensed);
  font-weight: 400;
  font-size: 48px;
}
.team-info button {
  width: 230px;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 50px;
}
.team-p {
  color: #9b9b9b;
}
.news .blue {
  margin: auto;
  margin-top: 19px;
}
.news-header {
  text-align: center;
  padding-top: 52px;
  width: 100%;
}
.news {
  background-color: var(--light-yellow);
  height: 920px;
  z-index: -1;
}
.news {
  height: 920px;
}
img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
.masonry {
  column-count: 4;
  column-gap: 10px;
  padding-top: 108px;
}
.news-item {
  display: inline-block;
  position: relative;
  margin: 0px 10px 10px 0;
}
.news-item:hover {
  padding: 10px solid #2b4074;
}
figcaption {
  position: absolute;
  background: var(--white-color);
  bottom: 0;
  width: 100%;
  padding: 10px 0 10px 16px;
  box-sizing: border-box;
  font-family: var(--font-family-Roboto-Condensed);
  font-weight: 700;
  color: var(--almost-black);
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 0 0 4px 4px;
}
.quote {
  height: 480px;
  text-align: center;
  box-sizing: border-box;
  padding: 100px 40px 0 4px;
}
.quote-mark {
  font-size: 34px;
  font-weight: 400;
  color: var(--main-dark-color);
}
.quote-text,
.quote-text span,
.quote-author {
  padding-top: 30px;
  font-family: var(--font-family-Roboto-Condensed);
  font-weight: 400;
  font-size: 36px;
}
.quote-text span {
  font-weight: 700;
  color: var(--main-dark-color);
}
.quote-author {
  font-weight: 700;
  font-size: 24px;
}
.contact {
  box-sizing: border-box;
  position: relative;
}
.contact {
  background-color: var(--main-dark-color);
  z-index: -1;
}
.contact-logo {
  position: absolute;
  background-color: var(--main-dark-color);
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35% 90%;
  border-radius: 3px;
  top: -30px;
  left: calc(50% - 100px);
  width: 230px;
  height: 60px;
}
.contact-text {
  padding-top: 158px;
  width: 70%;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-family-Roboto);
  color: var(--white-color);
  letter-spacing: 2px;
}
.table {
  display: flex;
  margin: 50px auto;
}
.icon {
  border-top: 1px solid #7ebf84;
  border-right: 1px solid #7ebf84;
  border-bottom: 1px solid #7ebf84;
  text-align: center;
  width: 25%;
  padding: 20px 0;
}
.contact-box {
  width: 25%;
}
.icon:last-child {
  border-right: 0;
}
.contact-header {
  font-family: var(--font-family-Roboto-Condensed);
  font-size: 16px;
  font-weight: 700;
  color: var(--light-yellow);
}
.contact-info {
  font-size: 12px;
  color: var(--white-color);
  font-family: var(--font-family-Roboto);
}
.one-box:hover {
  outline: var(--main-dark-color) 4px solid;
  background-position: 50% 10%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  text-align: center;
}
.one-box:hover > .feature-info,
.one-box:hover > .feature-btn {
  visibility: visible;
}
.one-box:hover > .feature-info {
  font-size: 16px;
  font-weight: 500;
  color: #797979;
  font-family: var(--font-family-Roboto);
  padding: 21px;
}
.one-box:hover > .feature-btn {
  color: var(--main-dark-color);
}
button {
  border-radius: 4px;
}
@media screen and (max-width: 1200px) {
  .news,
  .news::before {
    height: 1320px;
  }
  .service {
    height: 920px;
    flex-direction: column;
    padding: 0;
  }
  .service-info {
    padding-top: 52px;
    width: 100%;
  }
  .service-p {
    width: 60%;
  }
  .service-header {
    text-align: center;
  }
  .masonry {
    column-count: 3;
    column-gap: 10px;
    padding-top: 108px;
  }
  .feature-boxes {
    width: 97%;
    justify-content: space-between;
  }
  .one-box {
    width: 235px;
  }
}
@media screen and (max-width: 1024px) {
  .carousel-btn {
    width: 56px;
    height: 56px;
  }
  .carousel {
    right: 0;
  }
  .proj-gallery {
    justify-content: center;
    flex-flow: wrap;
    width: 90%;
  }
  .gallery-item {
    margin: 0 10px;
  }
  .projects {
    height: 100%;
  }
}
@media screen and (max-width: 979px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
  .top-banner-intro p {
    width: 90%;
  }
  .service {
    height: 100%;
  }
  .feature-boxes {
    padding: 10px 0 0 10px;
  }
  .one-box {
    width: 50%;
    height: 288px;
  }
  .news {
    height: 100%;
  }
  .quote-mark {
    margin-top: 60px;
  }
  .contact-box {
    width: 50%;
  }
  .table {
    flex-flow: wrap;
  }
}
@media screen and (max-width: 640px) {
  h1{
    font-size: 60px;
  }
}

@media screen and (max-width: 640px) {
  .top-banner, .top-banner::after{
    height: 100%;
  }
  .top-banner-intro{
    padding-top: 10% ;
  }
  .top-banner-intro h1, .top-banner-intro button, .top-banner-intro div{
    margin: 15px 0;
  }
  .gallery-item,
  .proj-pic,
  .footer-info {
    width: 100%;
  }
  .proj-pic {
    border-radius: 4px;
  }
  footer {
    height: 100%;
  }
  .footer-section {
    flex-direction: column;
    text-align: center;
  }
  .footer-section button {
    margin: 0 auto;
    margin-top: 20px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    margin: 20px auto;
  }
  .top-banner-intro p{
    display: none;
  } 
}
@media screen and (max-width: 620px){
  .masonry{
    column-count: 2;
  }
  .team{
    flex-direction: column;
  }
  .team-img{
    margin: 0 auto;
  }
  .team-info{
    text-align: center;
    width: 90%;
  }
}
@media screen and (max-width: 450px){
  h1{
    font-size: 28px;
  }
  .masonry{
    column-count: 1;
  }
  .quote-text{
    font-size: 24px;
  }
  .quote-author{
    font-size: 20px;
  }
  
  
}
