:root {
  /* colors*/
  --main-dark-color: #2b4074;
  --main-light-color: #f9f6e5;
  --white-color: #ffffff;
  --gray-font-color: #797979;
  --table-border: #7ebf84;
  --almost-black: #4a4a4a;
  /* font sizes*/
  --largest-font-size: 96px;
  --base-font-size: 18px;
  --smallest-font-size: 12px;
  --icon-contact-font-size: 20px;
  --header-4-font-size: 24px;
  --header-3-font-size: 36px;
  --header-2-font-size: 48px;
  --small-text-font-size: 16px;
  /*fonts*/
  --font-family-Dosis: "Dosis", sans-serif;
  --font-family-Roboto: "Roboto", sans-serif;
  --font-family-Roboto-Condensed: "Roboto Condensed", sans-serif;
}
button {
  box-sizing: content-box;
}
.container {
  position: relative;
  width: 980px;
  margin: 0 auto;
}
header {
  background-color: var(--main-dark-color);
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.logo {
  width: 100px;
  height: 65px;
  padding: 17px 0 17px 61px;
}
.burger {
  margin: 30px 150px 30px 0;
  width: 40px;
  height: 40px;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.top-banner {
  position: relative;
  height: 668px;
}
.top-banner::before,
.top-banner::after,
footer::before,
.projects::before {
  content: "";
  display: block;
  width: 100vw;
  height: 300px;
  height: 668px;
  position: absolute;
  left: calc((-100vw + 960px) / 2);
}
.top-banner::before {
  background-image: url("../images/bg-img.jpg");
}
.top-banner::after {
  background-image: url("../images/rectangle.png");
  top: 0;
}
.top-banner-intro {
  z-index: 1;
  position: relative;
  overflow: hidden;
  color: var(--white-color);
  font-family: var(--font-family-Roboto-Condensed);
  padding: 101px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: var(--largest-font-size);
  font-weight: 400;
  text-transform: uppercase;
  width: 513px;
}
.top-banner-intro p {
  font-size: var(--header-4-font-size);
  font-weight: 400;
  width: 886px;
  padding: 8px 0 18px 0;
}
.top-banner-intro p,
.top-banner-intro button,
h1 {
  text-align: center;
  margin: auto;
}
button {
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
.top-banner-intro button {
  font-family: var(--font-family-Roboto);
  background: var(--main-dark-color);
  color: var(--main-light-color);
  width: 200px;
  height: 50px;
  font-size: var(--base-font-size);
  text-transform: uppercase;
}
button:active {
  outline: none;
  border: none;
}
.carousel {
  position: absolute;
  right: calc((-100vw + 960px) / 2);
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 264px;
}
.carousel-btn {
  width: 70px;
  height: 70px;
  float: right;
  z-index: 1;
  font-weight: 800;
}
.prev {
  background: var(--main-light-color);
  color: var(--gray-font-color);
}
.next {
  background: var(--main-dark-color);
  color: var(--white-color);
  font-weight: 800;
}
footer {
  height: 192px;
}
footer::before {
  background-color: var(--main-dark-color);
  height: 192px;
}
.footer-section {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 57px 0;
  justify-content: space-between;
}
.footer-header {
  font-family: var(--font-family-Roboto);
  font-size: var(--header-4-font-size);
  color: var(--white-color);
}
.footer-content {
  font-family: var(--font-family-Dosis);
  font-size: var(--small-text-font-size);
  color: var(--white-color);
  margin-top: 10px;
}
.footer-section button {
  padding: 0;
  background: var(--main-light-color);
  font-size: var(--base-font-size);
  font-family: var(--font-family-Roboto);
  color: var(--main-dark-color);
  width: 200px;
  height: 50px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer-info {
  width: 600px;
}
.service {
  height: 546px;
  display: flex;
}
.feature-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 922px;
}
.one-box {
  width: 212px;
  padding-top: 169px;
}
.service-info {
  display: flex;
  flex-direction: column;
  padding: 90px 0 0 62px;
  width: 400px;
}
.service-header {
  font-size: var(--header-2-font-size);
  color: var(--main-dark-color);
  font-family: var(--font-family-Roboto-Condensed);
}

.feature-header {
  margin: 0px;
  font-family: var(--font-family-Roboto-Condensed);
  color: var(--almost-black);
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--small-text-font-size);
  text-align: center;
}
.feature-info,
.feature-btn {
  visibility: hidden;
}
.box-1 {
  background: url(../images/icon-1.png) no-repeat 50% 40%;
}
.box-2 {
  background: url(../images/icon-2.png) no-repeat 50% 40%;
}
.box-3 {
  background: url(../images/icon-3.png) no-repeat 50% 40%;
}
.box-4 {
  background: url(../images/icon-4.png) no-repeat 50% 40%;
}
.box-5 {
  background: url(../images/icon-5.png) no-repeat 50% 40%;
}
.box-6 {
  background: url(../images/icon-6.png) no-repeat 50% 40%;
}
.box-7 {
  background: url(../images/icon-7.png) no-repeat 50% 40%;
}
.box-8 {
  background: url(../images/icon-8.png) no-repeat 50% 40%;
}
.service-sub-header {
  font-family: var(--font-family-Roboto);
  font-weight: 400;
  font-size: 24px;
  margin-top: 64.6px;
}
.blue {
  margin: 30.7px 0 0 0;
  width: 100px;
  height: 8px;
  background-color: var(--main-dark-color);
}
.service-p {
  margin-top: 34.9px;
  font-family: var(--font-family-Roboto);
  font-weight: 400;
  color: var(--gray-font-color);
  font-size: 18px;
}
.projects::before {
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
  height: 600px;
}
.projects {
  height: 600px;
}
.projects section {
  position: relative;
}
.content-header {
  font-family: var(--font-family-Roboto-Condensed);
  color: var(--white-color);
  font-size: 48px;
  text-align: center;
  padding-top: 80px;
}
.proj-gallery {
  display: flex;
}
.proj-1 {
  background: url(../images/portfolio-1.png) no-repeat 50% 40%;
}
.proj-2 {
  background: url(../images/portfolio-2.png) no-repeat 50% 40%;
}
.proj-3 {
  background: url(../images/portfolio-3.png) no-repeat 50% 40%;
}
.proj-4 {
  background: url(../images/portfolio-4.png) no-repeat 50% 40%;
}
.proj-pic {
  width: 220px;
  height: 209px;
  margin: 10px;
}
.white {
  margin-top: 24px;
  width: 100px;
  height: 8px;
  background-color: var(--white-color);
}
.proj-name {
  margin-top: 23px;
  text-align: center;
  font-family: var(--font-family-Roboto-Condensed);
  font-weight: 700;
  font-size: 16px;
  color: var(--main-dark-color);
}
.team {
  display: flex;
  height: 580px;
}
.team-img{
    background: url(../images/team.png)no-repeat 50% 40%;
    width: 470px;
    height: 430px;
}
.team-info{
    width: 500px;
}

